<div *ngIf="product" class="w-72 bg-neutral-900 rounded-xl duration-500 transform hover:scale-105 my-5 mx-auto hover:shadow-[0_0_15px_5px_rgba(255,255,255,0.4)]">
  <a (click)="onViewDetails()">
    <img
      class="mb-1 mx-auto w-72 object-cover rounded-t-xl"
      [ngClass]="{ 'h-[350px]': !fullWidthMode, 'h-[600px]': fullWidthMode }"
      [src]="product.image"
      alt="Product Image"
    />
    <div class="px-4 py-3 w-72 text-center">
      <span class="text-gray-400 mr-3 uppercase text-xs">synonym</span>
      <p class="text-lg font-bold text-white truncate block capitalize">{{ product.title }}</p>
      <div class="flex justify-center items-center">
        <p class="text-lg font-semibold text-white cursor-auto my-3">€ {{ product.price }}</p>
      </div>
    </div>
  </a>
</div>
