$color-fuente: whitesmoke;

.button-container {
  display: flex;
  justify-content: flex-end; // Alinea el botón al final del contenedor
  padding-right: 10px;
}

button.cardsi {
  background-color: black;
  color: $color-fuente;
}


.paypal-container {
 height: 50;
  width: 100px;
}